.elementor-459 .elementor-element.elementor-element-652d701 {
  --display: flex;
  --min-height: 75px;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --gap: 20px 20px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 3px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 3px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459
  .elementor-element.elementor-element-652d701:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-459
  .elementor-element.elementor-element-652d701
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fb8315;
}
.elementor-459 .elementor-element.elementor-element-652d701,
.elementor-459 .elementor-element.elementor-element-652d701::before {
  --border-transition: 0.3s;
}
.elementor-459 .elementor-element.elementor-element-da3fbd5 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --gap: 0px 25px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459 .elementor-element.elementor-element-914cc67 {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-459 .elementor-element.elementor-element-aa914ba {
  text-align: center;
  --e-transform-transition-duration: 100ms;
}
.elementor-459
  .elementor-element.elementor-element-aa914ba
  .elementor-heading-title {
  color: #ffffff;
  font-family: "CHADY", Sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 0.1rem;
  stroke-width: 0.1rem;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-459
  .elementor-element.elementor-element-aa914ba
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-d6f473a {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 0% 1%;
  --background-transition: 0.3s;
}
.elementor-459 .elementor-element.elementor-element-d6f473a.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-459 .elementor-element.elementor-element-856ec0c {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459 .elementor-element.elementor-element-235bbb1 {
  text-align: center;
  --e-transform-transition-duration: 0ms;
}
.elementor-459
  .elementor-element.elementor-element-235bbb1
  .elementor-heading-title {
  color: #ffffff;
  font-family: "CHADY", Sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.elementor-459
  .elementor-element.elementor-element-235bbb1
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-3da5237 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459 .elementor-element.elementor-element-d869aa6 {
  text-align: center;
  --e-transform-transition-duration: 0ms;
}
.elementor-459
  .elementor-element.elementor-element-d869aa6
  .elementor-heading-title {
  color: #ffffff;
  font-family: "CHADY", Sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.elementor-459
  .elementor-element.elementor-element-d869aa6
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-28bea23 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459 .elementor-element.elementor-element-d21b3a2 {
  text-align: center;
  --e-transform-transition-duration: 0ms;
}
.elementor-459
  .elementor-element.elementor-element-d21b3a2
  .elementor-heading-title {
  color: #ffffff;
  font-family: "CHADY", Sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.elementor-459
  .elementor-element.elementor-element-d21b3a2
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-99f4a5e {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459 .elementor-element.elementor-element-47fd3ac {
  text-align: center;
  --e-transform-transition-duration: 0ms;
}
.elementor-459
  .elementor-element.elementor-element-47fd3ac
  .elementor-heading-title {
  color: #ffffff;
  font-family: "CHADY", Sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.elementor-459
  .elementor-element.elementor-element-47fd3ac
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-7d14d80 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459 .elementor-element.elementor-element-8047218 {
  text-align: center;
  --e-transform-transition-duration: 0ms;
}
.elementor-459
  .elementor-element.elementor-element-8047218
  .elementor-heading-title {
  color: #ffffff;
  font-family: "CHADY", Sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.elementor-459
  .elementor-element.elementor-element-8047218
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-744f9ca {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-459 .elementor-element.elementor-element-4c93f73 {
  text-align: center;
  --e-transform-transition-duration: 0ms;
}
.elementor-459
  .elementor-element.elementor-element-4c93f73
  .elementor-heading-title {
  color: #ffffff;
  font-family: "CHADY", Sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.elementor-459
  .elementor-element.elementor-element-4c93f73
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-ab147fe {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-459 .elementor-element.elementor-element-b79653b .elementor-button {
  font-family: "CHADY", Sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1.1px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #9e67ff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #000000;
  border-radius: 0px 0px 0px 0px;
  padding: 10px 30px 10px 30px;
}
.elementor-459
  .elementor-element.elementor-element-b79653b
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-459 .elementor-element.elementor-element-b79653b {
  --e-transform-transition-duration: 100ms;
}
@media (max-width: 1024px) {
  .elementor-459 .elementor-element.elementor-element-652d701 {
    --min-height: 60px;
  }
  .elementor-459 .elementor-element.elementor-element-914cc67 {
    --align-items: flex-start;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 0px;
  }
  .elementor-459 .elementor-element.elementor-element-ab147fe {
    --align-items: flex-end;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-459 .elementor-element.elementor-element-652d701 {
    --width: 100%;
    --min-height: 60px;
    --gap: 7px 7px;
  }
  .elementor-459 .elementor-element.elementor-element-da3fbd5 {
    --width: 100%;
    --gap: 0px 0px;
  }
  .elementor-459 .elementor-element.elementor-element-914cc67 {
    --width: 48%;
    --align-items: flex-start;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-459 .elementor-element.elementor-element-aa914ba {
    text-align: center;
  }
  .elementor-459
    .elementor-element.elementor-element-aa914ba
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-459
    .elementor-element.elementor-element-aa914ba
    > .elementor-widget-container {
    padding: 0px 0px 0px 10px;
  }
  .elementor-459 .elementor-element.elementor-element-ab147fe {
    --width: 49%;
    --align-items: flex-end;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-459 .elementor-element.elementor-element-cd1ded1 img {
    width: 35px;
  }
}
@media (min-width: 768px) {
  .elementor-459 .elementor-element.elementor-element-914cc67 {
    --width: 22%;
  }
  .elementor-459 .elementor-element.elementor-element-d6f473a {
    --width: 50%;
  }
  .elementor-459 .elementor-element.elementor-element-856ec0c {
    --width: 16%;
  }
  .elementor-459 .elementor-element.elementor-element-3da5237 {
    --width: 16%;
  }
  .elementor-459 .elementor-element.elementor-element-28bea23 {
    --width: 16%;
  }
  .elementor-459 .elementor-element.elementor-element-99f4a5e {
    --width: 16%;
  }
  .elementor-459 .elementor-element.elementor-element-7d14d80 {
    --width: 16%;
  }
  .elementor-459 .elementor-element.elementor-element-744f9ca {
    --width: 16%;
  }
  .elementor-459 .elementor-element.elementor-element-ab147fe {
    --width: 22%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-459 .elementor-element.elementor-element-914cc67 {
    --width: 50%;
  }
  .elementor-459 .elementor-element.elementor-element-ab147fe {
    --width: 50%;
  }
} /* Start custom CSS for button, class: .elementor-element-b79653b */
.button2 {
  transform: rotate(5deg);
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-652d701 */
.scrolling-header {
  transition: all 0.5s ease !important;
} /* End custom CSS */
/* Start Custom Fonts CSS */
@font-face {
  font-family: "CHADY";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("https://chady.lol/wp-content/uploads/2024/09/Dinosaur.eot");
  src: url("https://chady.lol/wp-content/uploads/2024/09/Dinosaur.eot?#iefix")
      format("embedded-opentype"),
    url("https://chady.lol/wp-content/uploads/2024/09/Dinosaur.woff2")
      format("woff2"),
    url("https://chady.lol/wp-content/uploads/2024/09/Dinosaur.woff")
      format("woff"),
    url("https://chady.lol/wp-content/uploads/2024/09/Dinosaur.ttf")
      format("truetype"),
    url("https://chady.lol/wp-content/uploads/2024/09/Dinosaur.svg#CHADY")
      format("svg");
}
/* End Custom Fonts CSS */
